doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://requirejs.org/docs/release/1.0.8/comments/require.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/js/minivents.min.js')
    script(src='/js/beats.js')
  body
    block content
